@inherits InputControlBase<bool>

<div class="@CssClasses" style="@CssStyles">
    <input type="checkbox"
           checked="@Value"
           role="@(Switch ? "switch" : null)"
           disabled="@Disabled"
           required="@Required"
           @onchange="@((args) => HandleValueChanged(args.Value))"
           class="form-check-input" />
    <label for="@Id">@Text</label>
</div>

@code{
    /// <summary>
    /// Display Switch.
    /// </summary>
    [Parameter]
    public bool Switch { get; set; }

    /// <summary>
    /// Text.
    /// </summary>
    [Parameter]
    public string Text { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "form-check";

    /// <inheritdoc/>
    protected override CssClassBuilder CssBuilder => base.CssBuilder
        .WithClass("form-switch", Switch);
}
