@using Microsoft.AspNetCore.Components.Forms

@inherits InputBase<string>

@{
    var messages = ValidationMessages;
    bool invalid = messages.Any();
}

<div class="w3-row">
    <div class="w3-col @LabelColWidthClass">
        @RenderLabel
    </div>
    <div class="w3-col @InputColWidthClass">
        @RenderInput(invalid)
    </div>
</div>

@if (invalid)
{
    foreach (var message in messages)
    {
        <div class="w3-text-red">@message</div>
    }
}

@code {

    /// <summary>
    /// Renders the label.
    /// </summary>
    protected RenderFragment RenderLabel => (__builder) =>
    {
        @if (LabelContent == null)
        {
            <label for="@Id">@Label</label>
        }
        else
        {
            @LabelContent
        }
    };

    /// <summary>
    /// Renders the input.
    /// </summary>
    protected virtual RenderFragment RenderInput(bool invalid) => (__builder) =>
    {
        <input class="@JoinClasses(CssClasses, invalid ? "w3-border-red" : null)"
               type="@InputType.ToString().ToLower()" 
               value="@Value" 
               required="@Required"
               disabled="@ReadOnly"
               @onchange="@OnValueChanged"/>
    };

}