@typeparam TValue
@inherits FormSelect<TValue>

@RenderBase

@code {

    /// <inheritdoc/>
    protected override CssClassBuilder ControlCssBuilder => CssClassBuilder.Create("form-check")
            .WithClass(ControlClass);

    /// <summary>
    /// Renders the radio control.
    /// </summary>
    protected override RenderFragment RenderControl => __builder =>
    {
        @foreach (var item in Items)
        {
            <div class="@ControlCssBuilder.Build()" style="@ControlStyle">
                <input type="radio" name="@Id" value="@item" class="form-check-input" checked="@(item.Equals(Value))"
                       disabled="@Disabled" required="@Required" @onchange="@((args) => HandleValueChanged(args.Value))">
                <label class="form-check-label">@GetDisplayValue(item)</label>
            </div>
        }
    };
}