@page "/collapsable-containers"

<Page PageName="Collapsable Containers">
    <Example Header="Accordion Item" Code="@AccordionItemCode" Class="mb-3">
        <AccordionItem>
            <HeaderContent>
                <div class="text-bg-primary flex-grow-1 p-2">Click to Toggle</div>
            </HeaderContent>
            <ChildContent>
                <Content Border="Base.BorderEdge.All" Class="border-dark-subtle" BackgroundColor="Base.Color.Light">
                    @CommonStrings.LoremIpsumText
                </Content>
            </ChildContent>
        </AccordionItem>
    </Example>

    <Example Header="Accordion" Code="@AccordionItemCode">
        <Accordion>
            <AccordionItem>
                <HeaderContent>
                    Header Accordion 1
                </HeaderContent>
                <ChildContent>
                    @CommonStrings.LoremIpsumText
                </ChildContent>
            </AccordionItem>
            <AccordionItem>
                <HeaderContent>
                    Header Accordion 2
                </HeaderContent>
                <ChildContent>
                    @CommonStrings.LoremIpsumText
                </ChildContent>
            </AccordionItem>
        </Accordion>
    </Example>
</Page>

@code {

    private string AccordionItemCode => "<AccordionItem>\n"
            + "\t<HeaderContent>\n"
                + "\t\tHeader Accordion\n"
            + "\t</HeaderContent>\n"
            + "\t<ChildContent>\n"
                + "\t\t<Content Border=\"Base.BorderEdge.All\" Class=\"border-dark-subtle\" BackgroundColor=\"Base.Color.Light\">\n"
                    + $"\t\t\t@Text.\n"
                + "\t\t</Content>\n"
            + "\t</ChildContent>\n"
        + "</AccordionItem>";

    private string AccordionCode => "<Accordion>\n"
        + AccordionItemCode + "\n"
        + AccordionItemCode + "\n"
        + "</Accordion>";

}
