
@inherits BackgroundComponentBase

<div class="@CssClasses" style="@CssStyles">
    @if (Header != null)
    {
        <header class="@CssClassBuilder.JoinClasses("card-header", HeaderClass)">
            @Header
        </header>
    }
    @if (!string.IsNullOrWhiteSpace(ImageSource))
    {
        <img src="@ImageSource" alt="@ImageAltText">
    }
    @if (Body != null)
    {
        <div class="@CssClassBuilder.JoinClasses("card-body", HeaderClass)">
            @Body
        </div>
    }
    @if (Footer != null)
    {
        <footer class="@CssClassBuilder.JoinClasses("card-footer", HeaderClass)">
            @Footer    
        </footer>
    }
</div>

@code {

    /// <summary>
    /// Header content.
    /// </summary>
    [Parameter]
    public RenderFragment Header { get; set; }

    /// <summary>
    /// Body content.
    /// </summary>
    [Parameter]
    public RenderFragment Body { get; set; }

    /// <summary>
    /// Footer content.
    /// </summary>
    [Parameter]
    public RenderFragment Footer { get; set; }

    /// <summary>
    /// Image source.
    /// </summary>
    [Parameter]
    public string ImageSource { get; set; }

    /// <summary>
    /// Image alt text.
    /// </summary>
    [Parameter]
    public string ImageAltText { get; set; }

    /// <summary>
    /// Classes to add to the card header.
    /// </summary>
    [Parameter]
    public string HeaderClass { get; set; }

    /// <summary>
    /// Classes to add to the card body.
    /// </summary>
    [Parameter]
    public string BodyClass { get; set; }

    /// <summary>
    /// Classes to add to the card footer.
    /// </summary>
    [Parameter]
    public string FooterClass { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "card";
}