@inherits BackgroundComponentBase

<Button Clicked="Show" class="@TriggerClass">@TriggerText</Button>

@if (m_show)
{
    <div id="@Id" class="@CssClasses" style="@CssStyles">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button @onclick="Hide" type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                    @if (string.IsNullOrEmpty(HeaderText))
                    {
                        @Header
                    }
                    else
                    {
                        <h2 class="modal-title">@HeaderText</h2>
                    }
                </div>
                <div class="modal-body">
                    @Body
                </div>
                @if (Footer != null)
                {
                    <div class="modal-footer">
                        @Footer
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {

    private readonly Guid Id = Guid.NewGuid();
    private bool m_show = false;

    /// <summary>
    /// Trigger text.
    /// </summary>
    [Parameter]
    public string TriggerText { get; set; }

    /// <summary>
    /// Trigger class.
    /// </summary>
    [Parameter]
    public string TriggerClass { get; set; }

    /// <summary>
    /// Header text.
    /// </summary>
    [Parameter]
    public string HeaderText { get; set; }

    /// <summary>
    /// Header.
    /// </summary>
    [Parameter]
    public RenderFragment Header { get; set; }

    /// <summary>
    /// Child content.
    /// </summary>
    [Parameter]
    public RenderFragment Body { get; set; }

    /// <summary>
    /// Child content.
    /// </summary>
    [Parameter]
    public RenderFragment Footer { get; set; }

    /// <inheritdoc/>
    protected override string ComponentName => "modal";

    /// <summary>
    /// Show the modal.
    /// </summary>
    protected async Task Show()
    {
        m_show = true;

        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// Hide the modal.
    /// </summary>
    protected async Task Hide()
    {
        m_show = false;

        await InvokeAsync(StateHasChanged);
    }
}